<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Tintecrabe : board</title>
		<link rel="icon" type="image/svg" href="../images/elements/favicon.svg" />
		<link rel="stylesheet" href="../css/main.css" type="text/css" media="all" />
		<style type="text/css">
			td {
				width: 40px;
				height: 40px;
				background: #ddd;
				vertical-align: middle;
				text-align: center;
			}
			td.label {
				background: #ccc;
			}
			.loop-1 {
				opacity: .9;
			}
			.loop-2 {
				opacity: .8;
			}
			.loop-3 {
				opacity: .7;
			}
			.loop-4 {
				opacity: .6;
			}
			.loop-5 {
				opacity: .5;
			}
			.loop-6 {
				opacity: .4;
			}
			.loop-7 {
				opacity: .3;
			}
			.loop-8 {
				opacity: .2;
			}
			.loop-9 {
				opacity: .1;
			}
		</style>
	</head>
	<body>
		<div id="board-view">
			<div class="board">
				<h4>...</h4>
				<table>
					<tbody>
						<tr>
							<td class="label"></td>
							<td class="label" v-for="x in columns">{{ x }}</td>
							<td class="label"></td>
						</tr>
						<tr v-for="y in rows">
							<td class="label">{{ y }}</td>
							<td class="box" v-for="x in columns" :class="Board.getLoopClass(x, y)">
								{{ Board.getRealX(x) }};{{ Board.getRealY(y) }}
							</td>
							<td class="label">{{ y }}</td>
						</tr>
						<tr>
							<td class="label"></td>
							<td class="label" v-for="x in columns">{{ x }}</td>
							<td class="label"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript" src="../lib/vuejs-2.6.11/vue.js"></script>
		<script type="text/javascript" src="../lib/peerjs-1.3.1/peerjs.min.js"></script>
		<script type="module" src="board.mjs"></script>
	</body>
</html>