<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Tintecrabe : zones</title>
		<link rel="icon" type="image/svg" href="../images/elements/favicon.svg" />
		<link rel="stylesheet" href="../css/main.css" type="text/css" media="all" />
		<style type="text/css">
			#content {
				overflow: auto;
			}
			.zone {
				display: inline-block;
				text-align: center;
			}
			.zone td {
				width: var(--board-label-size);
				min-width: var(--board-label-size);
				height: var(--board-label-size);
				min-height: var(--board-label-size);
				background: beige;
				font-size: 11px;
			}
			.zone .in {
				background: #fc8;
			}
		</style>
	</head>
	<body>
		<div id="zones-view">
			<div id="content">
				<div class="zone" v-for="zone in zones">
					<h4>{{ zone.label }}</h4>
					<table>
						<thead>
							<tr id="row_head">
								<td class="corner" id="corner_head_left"></td>
								<td class="label" v-for="x in items" :id="'label_head_' + x">{{ x }}</td>
								<td class="corner" id="corner_head_right"></td>
							</tr>
						</thead>
						<tbody>
							<tr id="row_0" v-for="y in items">
								<td class="label" :id="'label_left_' + y">{{ y }}</td>
								<td class="box" v-for="x in items" :id="'cell_' + x + '_' + y" :class="{ in: zone.zone.contains(x, y) }"></td>
								<td class="label" :id="'label_right_' + y">{{ y }}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr id="row_foot">
								<td class="corner" id="corner_foot_left"></td>
								<td class="label" v-for="x in items" :id="'label_foot_0' + x">{{ x }}</td>
								<td class="corner" id="corner_foot_right"></td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../lib/vuejs-2.6.11/vue.js"></script>
		<script type="text/javascript" src="../lib/peerjs-1.3.1/peerjs.min.js"></script>
		<script type="module" src="zones.mjs"></script>
	</body>
</html>