<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Tintecrabe : configurateur de tuiles</title>
		<link rel="icon" type="image/svg" href="images/elements/favicon.svg" />
		<link rel="stylesheet" href="css/main.css" type="text/css" media="all" />
		<style>
			#content {
				padding: 15px 25px;
				overflow: auto;
			}

			#new-form,
			#edit-form {
				margin-bottom: 20px;
				width: 50%;
			}

			#tile {
				width: 400px;
			}

			#tile table select {
				width: 65px;
			}

			#features {
				width: 600px;
			}

			#features td {
				padding: 0 5px;
			}

			#features .thumbnail {
				vertical-align: middle;
				width: 20px;
				height: 20px;
			}

			#result textarea {
				width: 100%;
				height: 100px;
			}

			#neighbours {
				width: 200px;
			}

			.tile {
				position: relative;
				width: 200px;
				height: 200px;
			}

			.tile .feature {
				display: block;
				position: absolute;
				border: 2px solid #558;
				font-weight: bold;
				border-radius: 18px;
				background: #88b;
				opacity: 0.7;
				padding-top: 7px;
				width: 36px;
				height: 36px;
				margin-left: -18px;
				margin-top: -18px;
				text-align: center;
			}

			.tile .feature:hover:not(.current) {
				opacity: 0.9;
				cursor: pointer;
			}

			.tile .feature.current {
				background: #fe6;
				border-color: #980;
			}

			.tile .feature.selected {
				background: #8d8;
				border-color: #272;
			}
		</style>
	</head>
	<body>
		<div id="configurator-view">
			<header id="header">
				<h1>Tintecrabe</h1>
			</header>
			<div id="content">
				<div id="loading" v-if="!ready">
					Chargement en cours...
				</div>
				<div id="configurator" v-if="ready">
					<div class="flex-horizontal">
						<div id="new-form">
							<h2>Nouvelle tuile</h2>
							<form name="newTile">
								<fieldset>
									<label>
										Image :
										<input type="text" v-model="newData.src" />
									</label>
									<button @click="newTile" type="button">Nouvelle tuile</button>
								</fieldset>
							</form>
						</div>
						<div id="edit-form">
							<h2>Tuile existante</h2>
							<form name="editTile">
								<fieldset>
									<label>
										Extension :
										<select v-model="editData.extension">
											<option v-for="extension in Models.extensionsArray" :key="extension.code" :value="extension">{{
												extension.name}}
											</option>
										</select>
									</label>
									<label>
										Tuile :
										<select v-model="editData.code">
											<option v-for="option in (editData.extension ? editData.extension.tiles : [])" :value="option.code">{{
												option.code}}
											</option>
										</select>
									</label>
									<button @click="editTile" type="button">Modifier la tuile</button>
								</fieldset>
							</form>
						</div>
					</div>
					<div id="tile-configurator" v-if="tile">
						<h2>Configuration de la tuile</h2>
						<p>
							<label>Tuile de départ : <input type="checkbox" v-model="tile.start" /></label><br />
							<label>Tuile de départ supplémentaire : <input type="checkbox" v-model="tile.additionalStart" /></label>
						</p>
						<p>
							<label>
								Quantité par défaut :
								<input type="number" v-model="tile.defaultQuantity" min="1" max="99" step="1" size="2" />
							</label>
						</p>
						<div class="flex-horizontal">
							<div id="tile">
								<table>
									<tbody>
										<tr>
											<td></td>
											<td><select v-model="tile.sides[0][0]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
											<td><select v-model="tile.sides[0][1]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
											<td><select v-model="tile.sides[0][2]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
											<td></td>
										</tr>
										<tr>
											<td><select v-model="tile.sides[3][2]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
											<td colspan="3" rowspan="3">
												<div class="tile">
													<img :src="tile.src" alt="" @click="addFeature" />
													<span class="feature" v-for="feature in tile.features"
														:style="{ left: feature[2] + '%', top: feature[3] + '%' }"
														@click="removeFeature(feature)"
														title="Cliquer pour supprimer l'élément">{{ feature[0] }}</span>
												</div>
											</td>
											<td><select v-model="tile.sides[1][0]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
										</tr>
										<tr>
											<td><select v-model="tile.sides[3][1]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
											<td><select v-model="tile.sides[1][1]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
										</tr>
										<tr>
											<td><select v-model="tile.sides[3][0]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
											<td><select v-model="tile.sides[1][2]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
										</tr>
										<tr>
											<td></td>
											<td><select v-model="tile.sides[2][2]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
											<td><select v-model="tile.sides[2][1]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
											<td><select v-model="tile.sides[2][0]">
												<option v-for="feature in tile.features" :value="feature[0]">
													{{ feature[0] }} - {{ tile.getFeatureName(feature[1]) }} ({{ feature[1] }})
												</option>
											</select></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="features">
								<table>
									<thead>
										<tr>
											<th>#</th>
											<th colspan="2">Type</th>
											<th>X</th>
											<th>Y</th>
											<th>Voisins</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="feature in tile.features">
											<td>{{ feature[0] }}</td>
											<td>
												<img v-if="feature[1] && Models.features[feature[1]].src" :src="Models.features[feature[1]].src"
													class="thumbnail" />
											</td>
											<td>
												<select v-model="feature[1]">
													<option v-for="option in featureModels" :value="option.code">{{ option.name }} ({{ option.code
														}})
													</option>
												</select>
											</td>
											<td>{{ feature[2] }}%</td>
											<td>{{ feature[3] }}%</td>
											<td>
												<button type="button" @click="editNeighbours(feature)" :disabled="neighbours.feature === feature">
													<img src="images/icons/edit.svg" class="icon-sm" alt="Modifier" title="Modifier" />
												</button>
												{{ feature[4].join(', ') }}
											</td>
											<td>
												<button type="button" @click="removeFeature(feature)">
													<img src="images/icons/delete.svg" class="icon-sm" alt="Supprimer"
														title="Supprimer cet élement" />
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="neighbours" v-if="neighbours.feature">
								Sélection des voisins :
								<div class="tile">
									<img :src="tile.src" alt="" />
									<span v-for="feature in tile.features" :style="{ left: feature[2] + '%', top: feature[3] + '%' }"
										:class="['feature', {'current': feature === neighbours.feature, 'selected': neighbours.isSelected(feature)}]"
										:title="neighbours.getFeatureTooltip(feature)"
										@click="toggleNeighbour(feature)">{{ feature[0] }}</span>
								</div>
								<div v-for="parameter in neighbours.featureModel.dynamicParameters">
									<br />
									<label>
										{{ parameter.name }} :
										<input v-if="parameter.type === 'string'" type="text" v-model.trim="neighbours.feature[5][parameter.code]" />
										<input v-if="parameter.type === 'number'" type="number" v-model.number="neighbours.feature[5][parameter.code]"
											:min="parameter.min" :max="parameter.max" />
										<select v-if="parameter.type === 'FeatureType'" v-model="neighbours.feature[5][parameter.code]">
											<option v-for="option in featureModels" :value="option.code">
												{{ option.name }} ({{ option.code }})
											</option>
										</select>
										<select v-if="parameter.type === 'TradeOfferType'" v-model="neighbours.feature[5][parameter.code]">
											<option value="points">points</option>
											<option value="resource">ressource</option>
											<option value="tile">tuile</option>
											<option value="slave">esclave</option>
										</select>
										<select v-if="parameter.type === 'ResourceType'" v-model="neighbours.feature[5][parameter.code]">
											<option value=""></option>
											<option value="RANDOM">alléatoire</option>
											<option value="CHOICE">au choix</option>
											<option v-for="option in tokenModels" :value="option.code">
												{{ option.name }} ({{ option.code }})
											</option>
										</select>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div id="result" v-if="tile">
						<h2>Définition JSON</h2>
						<textarea readonly="readonly">{{ tile.toJSON() }}</textarea>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="lib/vuejs-2.6.11/vue.js"></script>
		<script type="module" src="views/configurator.mjs"></script>
	</body>
</html>