<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Tintecrabe : statistiques sur les tuiles</title>
		<link rel="icon" type="image/svg" href="images/elements/favicon.svg" />
		<link rel="stylesheet" href="css/main.css" type="text/css" media="all" />
		<style>
			#content {
				padding: 15px 25px;
				overflow: auto;
			}

			.table {
				width: 100%;
			}

			.table td {
				padding: 0 10px;
				text-align: center;
			}

			.table td img {
				vertical-align: middle;
			}

			.table td img,
			.table td span {
				margin: 0 2px;
			}

			.table td.visual {
				width: 110px;
				height: 25px;
			}

			.table td.visual img {
				max-height: 25px;
				max-width: 50px;
			}

			.table.table-sides td.visual span {
				display: inline-block;
				width: 25px;
				height: 25px;
				text-align: center;
			}

			.table.table-sides td.visual img {
				max-width: 25px;
			}

			.table th {
				background: #bbb;
			}

			.table tr:nth-child(1n) {
				background: #eee;
			}

			.table tr:nth-child(2n) {
				background: #ddd;
			}

			.table tr:hover {
				background: #ddf;
			}

			.feature-filters {
				text-align: center;
				margin-bottom: 20px;
			}

			.feature-filters label {
				display: inline-block;
				width: 60px;
				font-size: 12px;
				margin: 0 5px;
				text-align: left;
			}

			.feature-filters .visual {
				width: 60px;
				height: 60px;
				line-height: 60px;
			}

			.feature-filters .visual img {
				max-width: 60px;
				max-height: 60px;
				vertical-align: middle;
			}

			.tile-configurations .item {
				display: inline-block;
				width: 99px;
				padding: 10px;
				margin: 5px;
			}

			.tile-configurations .item {
				background: #ddd;
			}

			.tile-configurations .visual {
				width: 79px;
				height: 79px;
			}

			.tile-configurations .visual > div {
				position: relative;
				height: 25px;
				margin-bottom: 2px;
			}

			.tile-configurations .visual span {
				display: inline-block;
				width: 25px;
				height: 25px;
				text-align: center;
				position: absolute;
				top: 0;
			}

			.tile-configurations .visual span.p1 {
				left: 0;
			}

			.tile-configurations .visual span.p2 {
				left: 27px;
			}

			.tile-configurations .visual span.p3 {
				left: 54px;
			}

			.tile-configurations .visual img {
				max-width: 25px;
				max-height: 25px;
			}

			.corner-tl {
				clip-path: polygon(0 0, 100% 0, 0 100%);
			}

			.corner-tr {
				clip-path: polygon(0 0, 100% 0, 100% 100%);
			}

			.corner-bl {
				clip-path: polygon(0 0, 100% 100%, 0 100%);
			}

			.corner-br {
				clip-path: polygon(0 100%, 100% 100%, 100% 0);
			}

			.r90 {
				transform: rotate(90deg);
			}

			.r180 {
				transform: rotate(180deg);
			}

			.r270 {
				transform: rotate(270deg);
			}
		</style>
	</head>
	<body>
		<div id="configurator-view">
			<header id="header">
				<h1>Tintecrabe</h1>
			</header>
			<div id="content">
				<div id="loading" v-if="!ready">
					Chargement en cours...
				</div>
				<div id="configurator" v-if="ready">
					<div v-if="errors.length">
						<h2>Erreurs</h2>
						<ul>
							<li v-for="item in errors">
								{{ item.message }}
							</li>
						</ul>
					</div>
					<h2>Éléments</h2>
					<table class="table table-features">
						<thead>
							<tr>
								<th>Visuel</th>
								<th>Nom</th>
								<th>Code</th>
								<th>Tuiles</th>
								<th>Occurrences</th>
								<th>Messages</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in features">
								<td class="visual"><img v-if="item.model.src" :src="item.model.src" alt="" style="" /></td>
								<td>{{ item.model.name | ucfirst }}</td>
								<td>{{ item.model.code }}</td>
								<td>{{ item.tileCount }}</td>
								<td>{{ item.occurrencesInTiles }}</td>
								<td>{{ item.messageCount }}</td>
							</tr>
							<tr>
								<td class="visual">*</td>
								<td>*</td>
								<td>*</td>
								<td>{{ total.tiles }}</td>
								<td>{{ total.featuresOccurrences }}</td>
								<td>{{ total.messages }}</td>
							</tr>
						</tbody>
					</table>
					<h2>Bords de tuiles</h2>
					<table class="table table-sides">
						<thead>
							<tr>
								<th>Visuels</th>
								<th>Noms</th>
								<th>Codes</th>
								<th>Tuiles</th>
								<th>Occurrences</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in sides">
								<td class="visual"><span v-for="model in item.models"><img v-if="model.src" :src="model.src" alt="" /></span></td>
								<td><span v-for="model in item.models">{{ model.name | ucfirst }}</span></td>
								<td><span v-for="code in item.codes">{{ code }}</span></td>
								<td>{{ item.tileCount }}</td>
								<td>{{ item.occurrencesInTiles }}</td>
							</tr>
						</tbody>
					</table>
					<h2>Configurations de tuiles</h2>
					<div class="feature-filters">
						<select v-model="configurationsFilter.mode">
							<option value="inclusion">contenant</option>
							<option value="exclusion">ne contenant pas</option>
						</select>
						<label v-for="feature in sideFeatures">
							<div class="visual"><img v-if="feature.src" :src="feature.src" alt="" style="" /></div>
							<input type="checkbox" v-model="configurationsFilter.value" :value="feature" /> {{ feature.code }}
						</label>
						<button @click="configurationsFilter.selectAll()">Toutes</button>
						<button @click="configurationsFilter.clear()">Aucune</button>
					</div>
					<div class="tile-configurations">
						<div class="item" v-for="item in configurations" v-if="configurationsFilter.matches(item)">
							<div class="visual">
								<div>
									<span class="p1 corner-tr" :set="model = item.models[0][0]"><img v-if="model.src" :src="model.src"
										alt="" class="r180" /></span>
									<span class="p1 corner-bl" :set="model = item.models[3][0]"><img v-if="model.src" :src="model.src"
										alt="" class="r90" /></span>
									<span class="p2" :set="model = item.models[0][1]"><img v-if="model.src" :src="model.src" alt=""
										class="r180" /></span>
									<span class="p3 corner-tl" :set="model = item.models[0][2]"><img v-if="model.src" :src="model.src"
										alt="" class="r180" /></span>
									<span class="p3 corner-br" :set="model = item.models[1][0]"><img v-if="model.src" :src="model.src"
										alt="" class="r270" /></span>
								</div>
								<div>
									<span class="p1" :set="model = item.models[3][1]"><img v-if="model.src" :src="model.src" alt=""
										class="r90" /></span>
									<span class="p2"></span>
									<span class="p3" :set="model = item.models[1][1]"><img v-if="model.src" :src="model.src" alt=""
										class="r270" /></span>
								</div>
								<div>
									<span class="p1 corner-br" :set="model = item.models[2][0]"><img v-if="model.src" :src="model.src"
										alt="" /></span>
									<span class="p1 corner-tl" :set="model = item.models[3][2]"><img v-if="model.src" :src="model.src"
										alt="" class="r90" /></span>
									<span class="p2" :set="model = item.models[2][1]"><img v-if="model.src" :src="model.src" alt="" /></span>
									<span class="p3 corner-bl" :set="model = item.models[2][2]"><img v-if="model.src" :src="model.src"
										alt="" /></span>
									<span class="p3 corner-tr" :set="model = item.models[1][2]"><img v-if="model.src" :src="model.src"
										alt="" class="r270" /></span>
								</div>
							</div>
							<div>
								Tuiles : {{ item.tiles.length }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="lib/vuejs-2.6.11/vue.js"></script>
		<script type="module" src="views/statistics.mjs"></script>
	</body>
</html>