#view-extensions {
	overflow-y: auto;
	max-height: 100%;
}

#view-extensions .extension-symbol-container {
	width: 50px;
	height: 50px;
	float: left;
	margin: 15px 15px 15px 0;
	text-align: center;
	line-height: 50px;
}

#view-extensions .extension-symbol {
	max-width: 40px;
	max-height: 40px;
	vertical-align: middle;
}

#view-extensions .little-items {
	padding-left: 0;
	list-style: none;
}

#view-extensions .tiles .items,
#view-extensions .messages .items,
#view-extensions .board-events .items {
	margin: 0 -10px;
}

#view-extensions .tiles .tc-tile-thumbnail,
#view-extensions .messages .tc-message-thumbnail,
#view-extensions .board-events .tc-board-event-thumbnail {
	display: inline-block;
	width: 120px;
	padding: 10px;
}

#view-extensions .tiles .tc-tile-thumbnail .start-symbol {
	color: goldenrod;
	float: right;
}

#view-extensions .tiles .tc-tile-thumbnail .secondary-start-symbol {
	color: silver;
	float: right;
}