#view-home {
	text-align: center;
	width: 100%;
	height: 100%;
}
#view-home .panel {
	width: 520px;
	margin: 50px auto;
}

#view-home .buttons > * {
	flex: 1;
	width: 200px;
	max-width: 200px;
	margin: 20px;
}

#view-home button {
	padding: 15px 25px;
	font-size: 1.2em;
	white-space: normal;
}

#view-home .buttons > div > *,
#view-home .buttons > div input {
	width: 200px;
}