@import url("../css/variables.css");

/* region: Board. */
#view-play {
	height: 100%;
}
#view-play .board {
	/*width: calc(100% - (2 * var(--sidebar-width)));*/
	overflow: auto;
	flex: 1;
}
/* endregion */

/* region Sidebar. */
#view-play {
	--toggle-margin: 5px;
}

#view-play .sidebar {
	overflow-y: auto;
	overflow-x: hidden;
	width: var(--sidebar-width);
	transition: width 1s;
}

#view-play .sidebar.collapsed {
	width: 5px;
}

#view-play .sidebar .aside {
	opacity: 1;
	transition: opacity 1s;
}

#view-play .sidebar.collapsed .aside {
	width: var(--sidebar-width);
	opacity: 0;
}

#view-play .sidebar .aside .aside-title .btn {
	margin: 3px -7px 0 0;
	float: right;
}

#view-play .sidebar .aside .aside-content.collapsed {
	height: 0;
	margin: 0;
	opacity: 0;
	overflow: hidden;
}

#view-play .sidebar .sidebar-toggle {
	padding: 5px;
	position: fixed;
	top: calc(var(--header-height) + var(--toggle-margin));
	transition: left 1s, right 1s;
}

#view-play .sidebar-left .sidebar-toggle {
	text-align: right;
	left: calc(var(--sidebar-width) + var(--toggle-margin));
}

#view-play .sidebar-left.collapsed .sidebar-toggle {
	left: calc(5px + var(--toggle-margin));
}

#view-play .sidebar-right .sidebar-toggle {
	text-align: left;
	right: calc(var(--sidebar-width) + var(--toggle-margin));
}

#view-play .sidebar-right.collapsed .sidebar-toggle {
	right: calc(5px + var(--toggle-margin));
}
/* endregion */