#view-pool {
	overflow-y: auto;
	max-height: 100%;
}

#view-pool .btn img {
	vertical-align: baseline;
}

#view-pool .tiles {
	text-align: center;
}

#view-pool .tiles .tc-tile-thumbnail {
	display: inline-block;
	width: 120px;
	padding: 10px;
}