/* region: Modal. */
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: table;
	transition: opacity 0.3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 400px;
	margin: 0 auto;
	border-radius: 2px;
	transition: all 0.3s ease;
}

.modal-header {
	padding: 10px 20px;
}

.modal-header h3 {
	margin: 0;
	text-align: left;
}

.modal-header button {
	float: right;
	margin-top: 5px;
	margin-left: 10px;
}

.modal-body {
	padding: 20px;
}

.modal-body:last-child {
	margin-bottom: 0;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

/* endregion */

/* region toaster */

#tc-alert-toaster {
	position: fixed;
	top: 50px;
	right: 0;
	z-index: 11000;
	width: 350px;
	padding-left: 10px;
	padding-right: 10px;
}

#tc-alert-toaster .toaster-item {
	margin-bottom: 10px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	gap: 10px;
}

#tc-alert-toaster .toaster-item-icon {
	width: 40px;
	height: 40px;
}

#tc-alert-toaster .toaster-item-content {
	flex: 1;
	padding: 0 0 5px 0;
}

#tc-alert-toaster .toaster-items-enter-active,
#tc-alert-toaster .toaster-items-leave-active {
	transition: all .5s ease;
}

#tc-alert-toaster .toaster-items-enter,
#tc-alert-toaster .toaster-items-leave-to {
	opacity: 0;
	transform: translateX(100%);
}

/* endregion */

.tc-header-server-info button {
	margin-top: -5px;
}

.tc-current-time img.icon {
	vertical-align: bottom;
}