/* region: Choose pawn modal. */
.tc-choose-pawn-modal .modal-body {
	text-align: center;
}

.tc-choose-pawn-modal .modal-body button {
	margin: 5px;
}

/* endregion */

/* region: Timeline modal. */
.tc-timeline-modal .modal-container {
	width: 700px;
	padding: 0;
}

.tc-timeline-modal .modal-body {
	max-height: 700px;
	overflow-y: auto;
}

.tc-timeline-modal .modal-body ul {
	padding: 0 0 0 16px;
	margin: 0;
}

/* endregion */

/* region: Current tile. */
.tc-current-tile .actions {
	float: right;
	width: 50px;
}

.tc-current-tile .actions button {
	margin-bottom: 5px;
}

.tc-current-tile .actions button.action-redraw {
	margin: 40px 0 0 0;
}

/* endregion */

/* region: Players & ranking. */
.tc-players ul,
.tc-ranking ul {
	padding-left: 0;
	list-style-type: none;
}

.tc-players li,
.tc-ranking li {
	margin-bottom: 10px;
}

.tc-players .bullet,
.tc-ranking .bullet {
	display: inline-block;
	width: 11px;
	height: 11px;
	border-radius: 15px;
}

.tc-players li {
	border-right: 5px solid transparent;
}

.tc-players li.current {
	border-right-color: goldenrod;
}

.tc-players li.self .name,
.tc-ranking li.self .name {
	font-weight: bold;
}

.tc-players .current-marker {
	color: goldenrod;
}

.tc-players .current-marker .tag {
	cursor: help;
	margin-left: 5px;
	padding-top: 0;
	background: goldenrod;
	border: #980 solid 1px;
}

.tc-players .player-pawns {
	margin-top: 3px;
}

/* Crazy trick to be able to line up between elements despite the magic of VueJS that removes spaces. */
.tc-players .player-pawns > span:not(:last-child):after,
.tc-players .player-tokens > span:not(:last-child):after {
	content: ' ';
	max-width: 1px;
	overflow: hidden;
	display: inline-block;
}

.tc-players .player-tiles {
	margin-top: 3px;
}

.tc-players .player-tiles img {
	width: 25px;
	height: 25px;
	margin: 0 3px;
}

.tc-players .pawn-count,
.tc-players .token-count {
	vertical-align: bottom;
	margin: 0 8px 0 -6px;
}

.tc-ranking li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.tc-ranking .rank {
	width: 30px;
	height: 30px;
	display: flex;
	position: relative;
}

.tc-ranking .item-content,
.tc-ranking .rank-content {
	margin: auto;
	text-align: center;
}

/* endregion */

/* region: Statistics. */
.tc-statistics ul {
	padding: 0;
	margin: 0;
}

.tc-statistics li {
	width: 60px;
	height: 73px;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.25);
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

/* endregion */

/* region: Timeline. */
/* endregion */

/* region: Player actions. */
.tc-player-actions {
	position: fixed;
	z-index: 100;
	top: var(--header-height);
	left: calc(50px + var(--sidebar-width));
	right: calc(50px + var(--sidebar-width));
	text-align: center;
}

.tc-player-actions .button-bar {
	margin-top: 20px;
}

.tc-player-actions .button-bar button {
	max-width: 45%;
	white-space: normal;
	margin: 0 10px;
}

.tc-player-actions .button-bar .btn-tile {
	margin: 3px;
	padding: 3px;
}

.tc-player-action-message .tag {
	cursor: help;
	padding-top: 0;
	background: goldenrod;
	line-height: 13px;
	margin: -3px 1px;
	font-weight: bold;
	font-size: 0.9em;
	border: #980 solid 1px;
}

.tc-player-action-trade-resources .trade-offer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.tc-player-action-trade-resources .trade-offer .offer-from {
	flex: 1;
	text-align: right;
}
.tc-player-action-trade-resources .trade-offer .offer-to {
	flex: 1;
	text-align: left;
}

.tc-player-action-trade-resources .player-token,
.tc-player-action-trade-resources .player-tiles {
	margin: 3px 7px;
}

.tc-player-action-trade-resources .player-tiles img {
	width: 60px;
	height: 60px;
}

/* endregion */

/* region: Board. */
.board {
	text-align: center;
}

.tc-board {
	position: relative;
	display: inline-block;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	--effective-tile-size: calc(var(--zoom) * var(--tile-size));
}

.tc-board .tc-board-content {
	white-space: nowrap;
}

.tc-board .spacer {
	width: 100px;
	display: inline-block;
}

.tc-board .layer-1 {
	display: inline-table;
}

.tc-board .layer-2 {
	position: absolute;
	top: 0;
	left: 100px;
}

.tc-board table {
	width: auto;
	table-layout: auto;
	border-collapse: separate;
	border-spacing: calc(2px * var(--zoom));
	transition: border-spacing 1s;
	margin: 100px 0;
}

.tc-board td {
	z-index: 1;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

.tc-board td.top-edge,
.tc-board td.bottom-edge {
	height: 25px;
	min-height: 25px;
}

.tc-board td.left-edge,
.tc-board td.right-edge {
	width: 25px;
	min-width: 25px; /* Don't know why, but without this, the width is sometimes less than 25px... */
}

.tc-board .layer-1 td.top-edge,
.tc-board .layer-1 td.bottom-edge,
.tc-board .layer-1 td.left-edge,
.tc-board .layer-1 td.right-edge {
	background: rgba(0, 0, 0, 0.3);
}

.tc-board .box-coordinates {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 10;
	line-height: var(--effective-tile-size);
	transition: font-size 1s, line-height 1s, opacity 1s;
}

.tc-board td::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	box-shadow: 0 0 1px 3px white;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.tc-board td.highlight::after {
	opacity: 1;
}

.tc-board td.empty img.tile {
	opacity: 50%;
}

.tc-board td.empty.accessible.preview-valid {
	cursor: pointer;
}

.tc-board td.empty.accessible.preview-invalid {
	cursor: not-allowed;
}

.tc-board td.empty.accessible .preview-button {
	display: block;
	position: absolute;
	top: 5px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
	color: black;
	border-radius: 2px;
	z-index: 11; /* must be over than .box-coordinates */
}

.tc-board td.empty.accessible .preview-button:hover {
	background: rgba(255, 255, 255, 0.8);
}

.tc-board td.empty.accessible .preview-button-rotate-left {
	left: 5px;
}

.tc-board td.empty.accessible .preview-button-rotate-right {
	right: 5px;
}

.tc-board td.empty.accessible .suggestion-icon {
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	background: rgba(255, 255, 255, 0.5);
	color: black;
	border-radius: 10px;
	z-index: 11; /* must be over than .box-coordinates */
}

.tc-board td .tile-tooltip-activator {
	z-index: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.tc-board td .feature {
	display: block;
	position: absolute;
	z-index: 11;
}

.tc-board td .feature .pawn {
	display: block;
}

.tc-board td .feature.help {
	opacity: 0;
	z-index: 5;
}

.tc-board td .feature.help:hover {
	cursor: help;
	border-radius: 18px;
	background: #000;
	opacity: 0.3;
}

.tc-board td .feature.accessible {
	cursor: pointer;
	border: 2px solid #558;
	border-radius: 18px;
	background: #88b;
	opacity: 0.7;
}

.tc-board td .feature.accessible:hover {
	opacity: 1;
	z-index: 12; /* On top of other features */
}

.tc-board td .feature.occupied:hover {
	cursor: help;
	border-radius: 18px;
	background: rgba(0, 0, 0, 0.3);
}

.tc-board td .pawn-retrievable {
	cursor: pointer;
}

.tc-board td.box,
.tc-board img.tile {
	width: var(--effective-tile-size);
	min-width: var(--effective-tile-size);
	height: var(--effective-tile-size);
	min-height: var(--effective-tile-size);
}

.tc-board td.box,
.tc-board img.tile,
.tc-board td .pawn,
.tc-board td .pawn img,
.tc-board td .feature,
.tc-board td .suggestion-icon {
	transition: width 1s, min-width 1s, height 1s, min-height 1s, margin 1s, padding 1s;
}

.loop-1 {
	opacity: 0.6;
}

.loop-2 {
	opacity: 0.4;
}

.loop-3 {
	opacity: 0.2;
}

/** Zoom x1 */
.tc-board.zoom-x1 {
	--zoom: 1;
}

.tc-board.zoom-x1 .preview-button,
.tc-board.zoom-x1 .suggestion-icon {
	width: 16px;
	height: 16px;
	font-size: 10px;
}

.tc-board.zoom-x1 td .feature {
	width: 18px;
	height: 18px;
	margin-left: -9px;
	margin-top: -9px;
}

.tc-board.zoom-x1 td .pawn {
	padding: 1px 2px 3px 2px;
	line-height: 14px;
}

.tc-board.zoom-x1 td .pawn img {
	width: 14px;
	height: 14px;
}

.tc-board.zoom-x1 .box-coordinates {
	font-size: 11px;
}

/** Zoom x2 */
.tc-board.zoom-x2 {
	--zoom: 2;
}

.tc-board.zoom-x2 .preview-button,
.tc-board.zoom-x2 .suggestion-icon {
	width: 20px;
	height: 20px;
}

.tc-board.zoom-x2 td .feature {
	width: 26px;
	height: 26px;
	margin-left: -13px;
	margin-top: -13px;
}

.tc-board.zoom-x2 td .pawn {
	padding: 0 3px 6px 3px;
	line-height: 20px;
}

.tc-board.zoom-x2 td .pawn img {
	width: 20px;
	height: 20px;
}

.tc-board.zoom-x2 .box-coordinates {
	font-size: 20px;
}

/** Zoom x4 */
.tc-board.zoom-x4 {
	--zoom: 4;
}

.tc-board.zoom-x4 .preview-button,
.tc-board.zoom-x4 .suggestion-icon {
	width: 30px;
	height: 30px;
	padding: 3px;
}

.tc-board.zoom-x4 td .feature {
	width: 38px;
	height: 38px;
	margin-left: -19px;
	margin-top: -19px;
}

.tc-board.zoom-x4 td .pawn {
	padding: 2px 5px 8px 5px;
	line-height: 28px;
}

.tc-board.zoom-x4 td .pawn img {
	width: 28px;
	height: 28px;
}

.tc-board.zoom-x4 .box-coordinates {
	font-size: 40px;
}

/* endregion */

/** region: tc-center-on-coordinates */
.tc-center-on-coordinates {
	position: fixed;
	bottom: 25px;
	left: 0;
	right: 0;
	z-index: 10;
	padding: 5px;
	margin: auto;
	width: fit-content;
}

/* endregion */