/* region: tc-tile-thumbnail/tc-message-thumbnail/tc-board-event-thumbnail */
.tc-tile-thumbnail img,
.tc-message-thumbnail img,
.tc-board-event-thumbnail img {
	cursor: pointer;
	height: 100px;
	width: 100px;
}

.tc-tile-description,
.tc-message-description,
.tc-board-event-description {
	--description-with: 670px;
	--visual-with: 200px;
	--visual-margin: 25px;
}
/* endregion */

/* region: tc-tile-description */
.tc-tile-description {
	width: var(--description-with);
}

.tc-tile-description .tile-container {
	position: relative;
	height: var(--visual-with);
	width: var(--visual-with);
}

.tc-tile-description .tile-container img {
	height: var(--visual-with);
	width: var(--visual-with);
}


.tc-tile-description .tile-container .feature {
	display: block;
	position: absolute;
	border: 2px solid #558;
	border-radius: 18px;
	background: #88b;
	opacity: 0.5;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
}

.tc-tile-description .tile-container .feature:hover:not(.current) {
	opacity: 0.9;
	cursor: pointer;
}

.tc-tile-description .tile-container .feature.current {
	background: #fe6;
	border-color: #980;
}

.tc-tile-description .tile-container .feature.neighbour {
	background: #8d8;
	border-color: #272;
}

.tc-tile-description .feature-container {
	flex: 1;
	margin-left: var(--visual-margin);
}

.tc-tile-description .feature-container :first-child {
	margin-top: 0;
}
/* endregion */

/* region: tc-message-description/tc-board-event-description */
.tc-message-description,
.tc-board-event-description {
	max-width: var(--description-with);
	margin: auto;
}

.tc-message-description .message-container,
.tc-board-event-description .message-container {
	height: var(--visual-with);
	width: var(--visual-with);
}

.tc-message-description .message-container img,
.tc-board-event-description .message-container img {
	height: var(--visual-with);
	width: var(--visual-with);
}
.tc-message-description .description-container,
.tc-board-event-description .description-container {
	flex: 1;
	margin-left: var(--visual-margin);
}

.tc-message-description .description-container :first-child,
.tc-board-event-description .description-container :first-child {
	margin-top: 0;
}
/* endregion */