/* region: Players. */
.tc-players-setup table {
	margin-bottom: 10px;
}

.tc-players-setup td {
	padding: 3px;
}

.tc-players-setup input,
.tc-players-setup select {
	width: 100%;
}

/* endregion */

/* region: Pawns. */
.tc-pawns-setup .pawn-item {
	vertical-align: bottom;
}

.tc-pawns-setup .pawn-item img {
	width: 20px;
	height: 20px;
}

/* endregion */

/* region: Tiles, first tile, message & board event lists. */
.tiles-large {
	--setup-tile-size: 120px;
}

.tiles-small {
	--setup-tile-size: 70px;
}

.setup-tile-list .extension,
.tc-messages-list-setup .extension,
.tc-board-events-list-setup .extension {
	margin-top: 10px;
}

.tc-messages-list-setup .extension:first-child,
.tc-board-events-list-setup .extension:first-child {
	margin-top: 0;
}

.setup-tile-list .extension-symbol,
.tc-messages-list-setup .extension-symbol,
.tc-board-events-list-setup .extension-symbol {
	max-width: 25px;
	max-height: 25px;
	vertical-align: middle;
}

.setup-tile-list .tiles,
.setup-tile-list .features,
.tc-messages-list-setup .messages,
.tc-board-events-list-setup .board-events {
	margin: 0 -5px 0 -5px;
}

.setup-tile-list .tiles .item,
.setup-tile-list .features .item,
.tc-messages-list-setup .messages .item,
.tc-board-events-list-setup .board-events .item {
	display: inline-block;
	width: calc(var(--setup-tile-size) + 10px);
	padding: 5px;
	margin: 5px;
}

.setup-tile-list .tiles .item:not(.selected),
.setup-tile-list .features .item:not(.selected),
.tc-messages-list-setup .messages .item:not(.selected),
.tc-board-events-list-setup .board-events .item:not(.selected) {
	filter: saturate(25%);
	opacity: 0.7;
}

.setup-tile-list .tiles .item img,
.tc-messages-list-setup .messages .item img,
.tc-board-events-list-setup .board-events .item img {
	height: var(--setup-tile-size);
	width: var(--setup-tile-size);
	margin-bottom: 3px;
}

.setup-tile-list .tiles .item label,
.setup-tile-list .features .item,
.tc-messages-list-setup .messages .item label,
.tc-board-events-list-setup .board-events .item label {
	font-size: 13px
}

.setup-tile-list .tiles .item input,
.tc-messages-list-setup .messages .item input,
.tc-board-events-list-setup .board-events .item input {
	margin: 0;
}

.setup-tile-list .features .item {
	text-align: center;
}

.setup-tile-list .features .item .thumbnail {
	height: 50px;
	width: var(--setup-tile-size);
	padding: 0;
	display: flex;
}

.setup-tile-list .features .item .thumbnail img {
	max-height: 50px;
	max-width: var(--setup-tile-size);
	margin: auto;
}

.setup-tile-list .features .item-code {
	display: block;
}

.tiles-large .tiles .selected-quantity,
.tiles-large .messages .selected-quantity,
.tiles-large .board-events .selected-quantity {
	float: right;
}

.tiles-small .features .item-name {
	line-height: 13px;
	height: 26px;
	width: var(--setup-tile-size);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.tiles-small .features .btn {
	padding: 3px 7px;
	line-height: 0.6;
}

.tiles-small .item .item-selector {
	display: flex;
	justify-content: space-between;
}

.tiles-small .item .selected-quantity {
	display: block;
	width: 100%;
}

/* endregion */