@import url("variables.css");
@import url("reset.css");
@import url("tools.css");

/**
 * VueJS
 */
[v-cloak] {
	display: none
}

/**
 * Content.
 */
#content {
	position: fixed;
	top: var(--header-height);
	bottom: 0;
	left: 0;
	right: 0;
}

img.tile {
	vertical-align: middle;
	margin: 0;
}

.no-wrap {
	white-space: nowrap;
}

/**
 * Header.
 */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--header-height);
	display: flex;
	flex-direction: row;
}

#header #menu {
	display: none;
}

.initialized #header #menu,
#header #tc-header-preferences,
#header #tc-current-time {
	display: inline-flex;
	flex-direction: row;
}

#header .header-item {
	display: block;
	padding: 3px 10px 7px 10px;
}

#header h1 {
	font-size: 20px;
	flex: 1;
	line-height: 33px;
	padding: 0;
	margin: 0 5px;
}

#header .logo {
	height: 33px;
	width: 33px;
	padding: 2px;
	margin: 0 0 0 5px;
}

/**
 * Pawns with shadow.
 */
.pawn {
	display: inline-block;
	background: center bottom / contain no-repeat url("../images/elements/shadow.svg");
	vertical-align: middle;
}

.pawn img {
	vertical-align: top;
}

.pawn-26 {
	padding: 0 3px 6px 3px;
	width: 26px;
	height: 26px;
}

.pawn-26 img {
	max-width: 20px;
	max-height: 20px;
}

/**
 * Pawns with shadow.
 */
.token {
	display: inline-block;
	background: center bottom / contain no-repeat url("../images/elements/shadow.svg");
	vertical-align: middle;
}

.token img {
	vertical-align: middle;
}

.token-26 {
	padding: 0 3px 6px 3px;
	width: 26px;
	height: 26px;
}

.token-26 img {
	max-width: 20px;
	max-height: 20px;
}

/**
 * Thumbnail.
 */
.thumbnail {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.thumbnail img {
	vertical-align: middle;
}

.thumbnail-26 {
	width: 30px;
	height: 30px;
	padding: 1px 2px 3px 2px;
}

.thumbnail-26 img {
	max-width: 26px;
	max-height: 26px;
}

/**
 * Interactions.
 */
button:not([disabled]),
.clickable {
	cursor: pointer;
}

button[disabled] {
	cursor: not-allowed;
}

.has-help {
	cursor: help;
}

/**
 * Panels.
 */
.panel {
	margin: 30px;
}

.panel .panel-header {
	margin: 0;
	padding: 5px 15px;
}

.panel .panel-body {
	margin: 0;
	padding: 15px;
}

/**
 * Switch & toggle buttons in h2.
 */
h2 .switch-container {
	font-size: 1.5rem;
	line-height: 3.3rem;
	padding: 5px 0 5px 15px;
}

/**
 * hr
 */
hr {
	margin: 1em 0;
}