@import url("variables.css");

body {
	--texture-bois-1: #623213 url('../images/theme/texture-bois-1.jpg');
	--texture-bois-2: #2f2c2a url('../images/theme/texture-bois-2.jpg');
	--texture-pierre-1: #302f33 url('../images/theme/texture-pierre-1.jpg');
	--texture-pierre-2: #211a12 url('../images/theme/texture-pierre-2.jpg');
	text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

hr {
	background-color: rgba(255, 255, 255, .5);
	box-shadow: 0 1px 2px rgba(255, 255, 255, .2);
}

.text-muted {
	opacity: 50%;
}

/** region: forms */

.btn,
[type="button"],
button,
.btn--primary,
.btn--success,
.btn--info,
.btn--warning,
.btn--danger,
.btn--inverse,
.btn--ghost {
	border-radius: 3px;
	padding: 2px 10px 4px 10px;
	color: #212529;
}

.btn {
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: #bbb linear-gradient(to bottom, #bbb, #999);
}

.btn:hover:not([disabled]) {
	background: #eee linear-gradient(to bottom, #eee, #ccc);
}

.btn.btn--success {
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: #bbb linear-gradient(to bottom, #6b6, #494);
}

.btn.btn--success:hover:not([disabled]) {
	background: #eee linear-gradient(to bottom, #9e9, #7c7);
}

a.btn:hover,
a.btn--primary:hover,
a.btn--success:hover,
a.btn--info:hover,
a.btn--warning:hover,
a.btn--danger:hover,
a.btn--inverse:hover,
a.btn--ghost:hover {
	text-decoration: none;
}

.button-bar .btn .icon {
	width: 16px;
	height: 16px;
	padding: 0;
	margin: -6px 0 -4px 0;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
	border-radius: 1px;
	padding: 2px 6px;
	background-color: #eee;
}

/** endregion */

/** region Panels */

.panel .panel-header {
	background: var(--texture-pierre-2);
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.8);
	position: relative;
	z-index: 2;
}

.panel .panel-body {
	background: var(--texture-pierre-1);
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.8);
}

/** endregion */

/** region Tooltips */

.tooltip {
	--help-thumbnail-size: 60px;
	--help-thumbnail-padding: 8px;
}

.tooltip .tooltip-inner {
	background: linear-gradient(#bbb, #eee);
	color: black;
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.5);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	max-width: 290px;
}

.tooltip .tooltip-inner:after {
	content: "";
	clear: both;
	display: table;
}

.tooltip .tooltip-inner hr {
	background: black;
	box-shadow: 0 0 2px 1px rgba(10, 10, 10, 0.3);
	margin: 10px 0;
	clear: both;
}

.tooltip .help-thumbnail {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: var(--help-thumbnail-size);
	height: var(--help-thumbnail-size);
	padding: var(--help-thumbnail-padding);
	border-radius: var(--help-thumbnail-size);
	background: linear-gradient(#666, #999);
	box-shadow: 0 0 5px 4px rgba(245, 245, 245, 0.7);
	text-align: center;
	line-height: calc(var(--help-thumbnail-size) - (2 * var(--help-thumbnail-padding)));
	display: flex;
	overflow: hidden;
}

.tooltip .help-thumbnail img {
	max-width: calc(var(--help-thumbnail-size) - (2 * var(--help-thumbnail-padding)));
	max-height: calc(var(--help-thumbnail-size) - (2 * var(--help-thumbnail-padding)));
	margin: auto;
}

/** endregion */

/** region: alerts */

.alert--info {
	background: rgb(209, 230, 237);
	background: linear-gradient(180deg, rgba(209, 230, 237, 1) 0%, rgba(133, 197, 215, 1) 100%);
	color: #000;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.alert--success {
	background: rgb(134, 232, 134);
	background: linear-gradient(180deg, rgba(134, 232, 134, 1) 0%, rgba(47, 199, 47, 1) 100%);
	color: #000;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.alert--warning {
	background: rgb(252, 212, 134);
	background: linear-gradient(180deg, rgba(252, 212, 134, 1) 0%, rgba(242, 119, 24, 1) 100%);
	color: #000;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.alert--danger {
	background: rgb(230, 120, 117);
	background: linear-gradient(180deg, rgba(230, 120, 117, 1) 0%, rgba(189, 38, 33, 1) 100%);
	color: #000;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

#tc-alert-toaster .toaster-item {
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.6);
}

/** endregion */

/** region: header */

#header {
	border-bottom: 2px solid #556 !important;
	background: linear-gradient(0deg, #aab, #889) !important;
	z-index: 50;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	color: black;
}

#header h1 {
	color: #333;
}

#header .header-item {
}

#header .header-item.header-item-clickable {
	background: rgba(0, 0, 0, 0.1);
}

#header .header-item.header-item-clickable:hover {
	background: rgba(255, 255, 255, 0.2);
}

/** endregion */

/** region: content */

body {
	background: var(--texture-bois-2);
	background-attachment: local;
	color: #eee;
}

/** endregion */

/** region: view layout */

.view-content .view-header,
.view-content .view-footer {
	background: var(--texture-pierre-1);
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.8);
	padding: 10px;
}

/** endregion */

/** region: modals */

.modal-header {
	background: var(--texture-pierre-2);
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.8);
	position: relative;
	z-index: 2;
}

.modal-body {
	background: var(--texture-pierre-1);
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.8);
}

/** endregion */

/** region: board */

.board {
	background: var(--texture-bois-1);
	background-attachment: fixed; /* Local attachment would be more realistic but causes visual bugs when scrolling... */
}

.board .tc-board img.tile {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.board .tc-board th {
	text-shadow: 0 0 1em rgba(255, 255, 255, 0.4), 0 0 0.2em #fff;
	font-weight: bold;
}

.board .tc-board td.empty {
	background: rgba(255, 255, 255, 0.05);
}

.board .tc-board td.empty.accessible {
	background: rgba(200, 255, 200, 0.15);
}

.board .tc-board td.empty.accessible.preview-valid {
	background: #ded;
}

.board .tc-board td.empty.accessible.preview-invalid {
	background: red;
}

.box-coordinates {
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 0 0 1em rgba(0, 0, 0, 0.4), 0 0 0.2em rgba(0, 0, 0, 0.6);
	font-weight: bold;
}

.tc-board.zoom-x1 .box-coordinates {
	opacity: 1;
}

.tc-board.zoom-x2 .box-coordinates {
	opacity: 0.8;
}

.tc-board.zoom-x4 .box-coordinates {
	opacity: 0.6;
}

.tc-player-actions > div {
	background: rgba(10, 10, 10, 0.6);
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.3);
	position: absolute;
	padding: 15px;
	width: 100%;
}

.tc-player-actions h2 {
	margin-top: -15px;
	font-size: 24px;
}

.fadePositionTop-enter-active {
	transition: all 0.5s ease-out 0.5s;
}

.fadePositionTop-leave-active {
	transition: all 0.5s ease-in;
}

.fadePositionTop-enter-active,
.fadePositionTop-leave-active {
	opacity: 1;
	top: 0;
}

.fadePositionTop-enter,
.fadePositionTop-leave-to {
	top: -400px;
	opacity: 0;
}

/** endregion */

/** region: tc-center-on-coordinates */
.tc-center-on-coordinates {
	padding: 5px;
	background: var(--texture-pierre-1);
	border-radius: 5px;
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.8);
	margin: auto;
	width: fit-content;
}

.tc-center-on-coordinates button {
	box-shadow: none;
}

.tc-center-on-coordinates label {
	margin: 0;
}

/** endregion */

/** region: sidebar */

.sidebar {
	background: var(--texture-pierre-1);
	background-attachment: local;
	color: #eee;
	z-index: 20;
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.8);
}

.sidebar .sidebar-toggle button {
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.8);
}

.sidebar-left {
	background-position: top left;
}

.sidebar-right {
	background-position: top right;
}

.aside {
	margin-bottom: 20px;
}

.aside-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	padding: 0 10px 0 10px;
	margin: 10px 0 0 0;
	background: rgba(0, 0, 0, 0.2);
}

.aside-content {
	margin: 10px 0 10px 0;
	padding: 0 10px 0 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.aside-content p:last-child {
	margin-bottom: 0;
}

.aside.tc-players .aside-content,
.aside.tc-ranking .aside-content {
	padding: 0;
}

.aside.tc-players li,
.aside.tc-ranking li {
	padding: 5px 10px;
	text-align: left;
	background: rgba(150, 150, 256, 0.2);
}

.aside.tc-timeline .aside-content {
	background: rgba(150, 150, 256, 0.2);
	padding-bottom: 10px;
}

.aside.tc-timeline ul {
	padding: 5px 0;
	list-style: none;
}

.aside.tc-timeline ul li {
	margin-top: 2px;
	padding-bottom: 2px;
}

.aside.tc-timeline ul li:not(:last-child) {
	border-bottom: 1px solid rgba(150, 150, 256, 0.2);
}

/** endregion */

/** region: Ranking */

.tc-ranking .rank-container {
	position: relative;
	width: 40px;
	padding: 0 5px;
}

.tc-ranking .rank-container::before,
.tc-ranking .rank-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.tc-ranking .rank {
	border-radius: 15px;
	background: radial-gradient(#444 0%, #222 25%, #000 100%);
	color: #999;
	opacity: 0.8;
}

.tc-ranking .rank::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: -1;
}

.tc-ranking .rank-level-1 .rank {
	background: radial-gradient(#e9c069 0%, #b99039 25%, #6a4d1d 100%);
	color: #000;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.tc-ranking .rank-level-1 .rank::before {
	box-shadow: 0 0 15px #e9c069;
	background: rgba(233, 192, 105, 0.4);
	animation: animated-hallo 2s linear infinite;
}

.tc-ranking .rank-container.rank-level-1 {
	height: 40px;
	padding: 5px 5px;
}

.tc-ranking .rank-container.rank-level-1::before {
	background: center no-repeat url("../images/elements/magic-light-gold.svg");
	background-size: 40px 40px;
	animation: rotation-left 6s linear infinite;
}

.tc-ranking .rank-container.rank-level-1::after {
	background: center no-repeat url("../images/elements/magic-light-gold.svg");
	background-size: 40px 40px;
	animation: rotation-left 10s linear infinite reverse;
}

.tc-ranking .rank-level-2 .rank {
	background: radial-gradient(#b6b6b6 0%, #868686 25%, #262626 100%);
	color: #000;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.tc-ranking .rank-level-2 .rank::before {
	box-shadow: 0 0 12px #b6b6b6;
	background: rgba(182, 182, 182, 0.4);
	animation: animated-hallo 2s linear infinite;
}

.tc-ranking .rank-container.rank-level-2 {
	height: 38px;
	padding: 4px 5px;
}

.tc-ranking .rank-container.rank-level-2::before {
	background: center no-repeat url("../images/elements/magic-light-silver.svg");
	background-size: 38px 38px;
	opacity: 0.6;
	animation: rotation-left 6s linear infinite;
}

.tc-ranking .rank-container.rank-level-2::after {
	background: center no-repeat url("../images/elements/magic-light-silver.svg");
	background-size: 34px 34px;
	opacity: 0.6;
	animation: rotation-left 10s linear infinite reverse;
}

.tc-ranking .rank-level-3 .rank {
	background: radial-gradient(#c98241 0%, #795221 25%, #452e05 100%);
	color: #000;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.tc-ranking .rank-level-3 .rank::before {
	box-shadow: 0 0 10px #c98241;
	background: rgba(201, 130, 65, 0.4);
	animation: animated-hallo 2s linear infinite;
}

.tc-ranking .rank-container.rank-level-2 {
	height: 36px;
	padding: 3px 5px;
}

.tc-ranking .rank-container.rank-level-3::before {
	background: center no-repeat url("../images/elements/magic-light-bronze.svg");
	background-size: 36px 36px;
	opacity: 0.3;
	animation: rotation-left 6s linear infinite;
}

.tc-ranking .rank-container.rank-level-3::after {
	background: center no-repeat url("../images/elements/magic-light-bronze.svg");
	background-size: 33px 33px;
	opacity: 0.3;
	animation: rotation-left 10s linear infinite reverse;
}

@keyframes animated-hallo {
	0%, 100% {
		transform: scale(0.75);
	}
	50% {
		transform: scale(0.9);
	}
}

@keyframes rotation-left {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/** endregion */

/** region: Timeline */

.tc-timeline ul {
	font-size: 14px;
}

.tc-timeline .category-global,
.tc-timeline-modal .category-global {
	font-weight: bold;
	color: orange;
}

.tc-timeline .category-error,
.tc-timeline-modal .category-error {
	font-weight: bold;
	color: red;
}

.tc-timeline .category-action,
.tc-timeline-modal .category-action {
	color: #87a7ee;
}

.tc-timeline .category-effect,
.tc-timeline-modal .category-effect {
	color: #ae87ee;
}

.tc-timeline .category-point-score,
.tc-timeline-modal .category-point-score {
	color: #c7ee87;
}

.tc-timeline .category-point-none,
.tc-timeline-modal .category-point-none {
	color: #b6b6b6;
}

.tc-timeline .category-point-loose,
.tc-timeline-modal .category-point-loose {
	color: #eea887;
}

.tc-timeline .category-suggestion,
.tc-timeline-modal .category-suggestion {
	color: #a6e0c5;
}

.tc-timeline .category-board,
.tc-timeline-modal .category-board {
	color: #000;
	text-shadow: 0 0 4px #fff, 0 0 2px #fff;
	font-weight: bold;
}

/** endregion */

/** region: setup */

#view-setup .view-content .view-header {
	z-index: 30;
}

#view-setup .view-content .view-footer {
	z-index: 30;
	height: 50px;
	padding: 10px;
}

#view-setup .view-content .view-body > div:nth-child(1) {
	background: var(--texture-pierre-1);
	background-attachment: local;
	z-index: 20;
	box-shadow: 0 0 5px 4px rgba(10, 10, 10, 0.8);
}

#view-setup .view-content > div:nth-child(2) {
	background: var(--texture-bois-2);
	background-attachment: local;
}

.setup-tile-list .tiles .item,
.setup-tile-list .features .item,
.tc-messages-list-setup .messages .item,
.tc-board-events-list-setup .board-events .item {
	background: linear-gradient(to bottom, rgba(240, 240, 210, 0.2), rgba(240, 240, 210, 0.1));
	color: #000;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
	border-radius: 3px;
	box-shadow: 3px 3px 4px 0 rgba(10, 10, 10, 0.4);
}

/** endregion */

/** region: extensions */

#view-extensions {
	background: var(--texture-bois-2);
	background-attachment: local;
}

#view-extensions .extension .extension-symbol-container {
	background: rgba(245, 245, 245, 0.3);
	box-shadow: 0 0 5px 4px rgba(245, 245, 245, 0.3);
	border-radius: 30px;
}

#view-extensions .badge {
	width: 25px;
	height: 25px;
	line-height: 25px;
	padding: 0;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#view-extensions ul {
	padding-left: 16px;
}

/** endregion */

/** region: about */

#view-about .panel {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#view-about .panel a {
	color: #db0;
}

/** endregion */